#header {
  height: 50px;
  background: #1a3d7c; /* Lighter shade of #10284e */
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #1a3d7c; /* Lighter shade of #10284e */
}

div.breadcrumbs {
  background: #4debbf; /* Lighter shade of #30caa0 */
  color: #1a3d7c; /* Lighter shade of #10284e */
}

div.breadcrumbs a {
  color: #666666; /* Lighter shade of #333333 */
}

.module h2, .module caption, .inline-group h2 {
  background: #4debbf; /* Lighter shade of #30caa0 */
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #1a3d7c; /* Lighter shade of #10284e */
  color: #fff;
}