{% extends "layout.html" %}
{% load crispy_forms_tags %} 

{% block content %}
    <div class="content-section bg-light py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-lg">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}